body {
    background-color: #f7e8a6;
}
.container {
    margin: 0 auto;
    max-width: 70%;
    max-height: 60%;
    border: 1px solid rgb(116, 24, 24);
    padding: 20px;
    margin-top: 30px;
 }
h1,h2 {
    text-align: center;
    margin-top: 0%;
    color: rgb(116, 24, 24);
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.3;
    font-size: 18px;
}
.nav-links{
 display: flex;
 margin: 10px;
 justify-content: center;
}
a {
   padding: 20px;
   color: green;
   font-size: 20px;
}
img {
  width: 400px;
  height: 300px;   
  
}
span{
    color: rgb(116, 24, 24);
    font-size: larger;
}