body {
  background-color: #f7eec9;
}
.container {
  margin: 0 auto;
  max-width: 70%;
  height: 60%;
  border: 1px solid rgb(116, 24, 24);
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1,
h2
 {
  text-align: center;
  margin-top: 0%;
  color: rgb(116, 24, 24);
}


h1 {
  font-size: 45px;
}
p {
  line-height: 1.3;
  font-size: 18px;
}
.nav-links {
  display: flex;
  margin: 10px;
  justify-content: center;
}
a {
  padding: 20px;
  color: green;
  font-size: 20px;
}
a:hover {
  color: rgb(116, 24, 24);
}
img {
  width: 300px;
  height: 200px;
  display: block;
  margin: 0 auto;
  border: 5px solid rgb(141, 61, 61);
  border-radius: 5px;
}
span {
  color: rgb(116, 24, 24);
  font-size: larger;
}
/* recipe */
.recipe{
    border: none;
    margin-bottom: 30px;
}
ul{
  line-height: 1.3;
  font-size: 20px;
  
}